<!DOCTYPE html>
<html>

<head>
    <title>{{ user.name }} - Blog</title>
</head>
<body>
    <nav>
        <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
        <button class="navbar-toggler" type="button">
    </nav>

    <div>
        <b>Hi {{ user.name }}</b>
    </div>
    <hr> 
    {% for post in posts %}
        <ul>
            <li>
                <p>
                    <b>{{ post }}</b>
                </p>
            </li>
        </ul>
    {% endfor%}
</body>
</html>