<!DOCTYPE html>
<html>

<head>
    <title>Blogr</title>
</head>

<body>
    <h1 class="h3">Please Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        <div>
            <label for="inputUsername" class="sr-only">User Name</label>
            <input name="username" class="form-control" placeholder="username" required autofocus>
        </div>
        <div>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="pwd" class="form-control" placeholder="Password" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submmit</button>

        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</body>

</html>